@charset "UTF-8";
* {
  border: solid 1px transparent;
  position: relative;
  font-family: "微軟正黑體";
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
html, body {
  margin: 0px;
  padding: 0px;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #000;
}

a{
	text-decoration: none;
	color: white;
}
.nav {
  font-size: 25px;
  letter-spacing: 5px;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: #666666;
  color: white;
  box-shadow: 0px 4px 15px #333;

}
#nav{
	padding-left: 10%;
}
#Bar {
  position: absolute;
  display: inline-block;
  left: 70%;
}

#bar {
  display: inline-block;
  font-size: 15px;

}

#banner {
  color: #fff;
  height: 800px;
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/jH_JF010JwBbbHr8q6aLP72UYBXKAyc1OGR1mTvhwy194lYHktZyY5oPlYSiP2c5k8Edw9nxPLTkElGDRc7m2eu6zN5baUj80EV1W3NUJFEdJUGw_iM5GJagIMQXslS_J0EYoYu7F3l00jeuGCUVa78S23KSr2HgX1IAy8eg8zzuuwtFwlrzihNfB0VKOFP8WC7kc4z3GMH47vGRRdGJrIRoNpFgKU1CUK6H5ontaRr6n8fhNDKplDDS6SNtsNu5EM7Bc_UaOyLevvasWMBcnlwpaeE8-frdNoWRQIHEmiLdWTmy8gtA99cpRd4avUXQgNxE8dFPG5ervOG8F6m40aXwQNOBnu8bzNcQmg1GMSOgeoL2SnAAadTJVpyKf45oGJ7qXLYSJfwANSP18dxJLA0zWgl0oScnCcalZwTLW26_aiz1zxdGfbEhQplewpHdRqktV3kczblMSdsmLkJhCofFubFYYJKv79vrPKj-DX3g3Y4Gmu22EMUQXd8tu2llndz7DZRANeSE49DL6Gavev1UXynkwQYLkhCA3TsV62vNQj9dc4J6Gb0ckN_3pEca85H3VlQPmDHL9Sh0t877m7MS8YxHIWCjXXT3PmgPSnjUv-rtKTRi=w1380-h777-no");
  background-size: cover;

}

.title {
  top: 25%;
  animation: tracking-in-expand 1.5s;
}

.title > h1 {
  font-size: 75px;
}

.title > h4 {
  top: 20px;
  font-size: 30px;
}

.links {
  top: 30%;
  height: 50px;
  animation: tracking-in-expand 1.5s;
}

#p {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 10px;
}

a {
  width: 80px;
  height: 80px;
}

#intro {
  color: #6C6D6D;
}
.Intro{
	width: 100%;
	position: relative;
	display: inline-block;
}
.name {
  top: -80px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  background-color: #6C6D6D;
  color: #fff;
}

.profilepic {
  transition-duration: 0.2s;
  opacity: 0;
  top: 125px;
  width: 300px;
  height: 300px;
  margin-bottom: 400px;
  background-image: url("https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/12032996_1182508888429823_2687867117430601467_n.jpg?oh=5a0dbcf8e7d42af1b85e41e4f220d62c&oe=5960C935");
  background-size: cover;
  border: solid 0px;
}

.intro {
  bottom: -260px;
  font-size: 20px;
  background-color: #6C6D6D;
  color: #fff;
  padding-left: 7px;
  width: 300px;

}

.experience {
  transition-duration: 0.2s;
  width: 600px;
  opacity: 0;

}

.experience > h2 {
  font-weight: 900;
}

#skill1 {
  position: relative;
  text-align: left;
  width: 280px;
  height: 280px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  font-size: 22px;
}

#skill1 > li {
  text-align: left;
  list-style: url(http://i.imgur.com/yFi6HDs.png);
}

#skill {
  background-color: #6C6D6D;
  color: #fff;
  text-align: center;
}

.b {
  opacity: 0;
  transition-duration: 0.2s;
  top:50px;
}

hr {
  border-top: 2px solid #fff;
  width: 200px;
}

.skill {
  top: 30px;
  opacity: 0;
  transition-duration: 0.2s;
}

#works {
  text-align: center;
  color: #666666;
  height: 900px;
}

.films {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  transition-duration: 0.2s;
 
}

.films > a
{
	color: #666666;
	font-size: 20px;
}

.films > h3
{
	left: -30%;
}
.b2 {
  opacity: 0;
  transition-duration: 0.2s;
  top: 50px;
}

.sintro {
  position: absolute;
  font-weight: 900;
  font-size: 200px;
  transition-duration: 0.2s;
  color: #666666;
  width: 437px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.sintro2 {
  position: absolute;
  font-weight: 900;
  font-size: 200px;
  transition-duration: 0.2s;
  color: white;
  width: 437px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.sintro3 {
  position: absolute;
  font-weight: 900;
  font-size: 150px;
  transition-duration: 0.2s;
  width: 800px;
  color: #666666;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.b2 > hr {
  border-top: 2px solid #666666;
  width: 200px;
}

.animate {
  opacity: 100;
}

.animate2 {
  opacity: 0;
}

.animate3{
	left: 10%;
}
.animate4{
  position: absolute;
  left: 40%;
  top: 10%;
}


