@charset "UTF-8";
* {
  border: solid 1px transparent;
  position: relative;
  font-family: "微軟正黑體";
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
html, body {
  margin: 0px;
  padding: 0px;
  font: 100% Montserrat, sans-serif;
  line-height: 1.8;
  color: #000;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

a{
	text-decoration: none;
	color: white;
}
.nav {
  font-size: 150%;
  letter-spacing: 5px;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: #666666;
  color: white;
  box-shadow: 0px 4px 15px #333;

}
#nav{
	padding-left: 10%;
	
}
#Bar {
  position: absolute;
  display: inline-block;
  left: 70%;
}
.index{
	position: absolute;
	left: 80%;
	top: -2px;
	cursor: pointer;
	height: 20px;
	width: 20px;
	display: none;
}

#bar {
  display: inline-block;
  font-size: 15px;

}

.navside{
  font-size: 25px;
  letter-spacing: 5px;
  position: fixed;
  height: 100%;
  width: 200px;
  right: -200px;
  top: 0;
  padding-top: 50px;
  background-color: #666666;
  color: white;
  box-shadow: 0px 4px 15px #333;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  }

#banner {
  color: #fff;
  height: 800px;
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/jH_JF010JwBbbHr8q6aLP72UYBXKAyc1OGR1mTvhwy194lYHktZyY5oPlYSiP2c5k8Edw9nxPLTkElGDRc7m2eu6zN5baUj80EV1W3NUJFEdJUGw_iM5GJagIMQXslS_J0EYoYu7F3l00jeuGCUVa78S23KSr2HgX1IAy8eg8zzuuwtFwlrzihNfB0VKOFP8WC7kc4z3GMH47vGRRdGJrIRoNpFgKU1CUK6H5ontaRr6n8fhNDKplDDS6SNtsNu5EM7Bc_UaOyLevvasWMBcnlwpaeE8-frdNoWRQIHEmiLdWTmy8gtA99cpRd4avUXQgNxE8dFPG5ervOG8F6m40aXwQNOBnu8bzNcQmg1GMSOgeoL2SnAAadTJVpyKf45oGJ7qXLYSJfwANSP18dxJLA0zWgl0oScnCcalZwTLW26_aiz1zxdGfbEhQplewpHdRqktV3kczblMSdsmLkJhCofFubFYYJKv79vrPKj-DX3g3Y4Gmu22EMUQXd8tu2llndz7DZRANeSE49DL6Gavev1UXynkwQYLkhCA3TsV62vNQj9dc4J6Gb0ckN_3pEca85H3VlQPmDHL9Sh0t877m7MS8YxHIWCjXXT3PmgPSnjUv-rtKTRi=w1380-h777-no");
  background-size: cover;

}

.title {
  top: 25%;
  animation: tracking-in-expand 1.5s;
}

.title > h1 {
  font-size: 500%;
}

.title > h4 {
  top: 20px;
  font-size: 200%;
}

.links {
  top: 30%;
  height: 50px;
  animation: tracking-in-expand 1.5s;
}

#p {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 10px;
}

a {
  width: 80px;
  height: 80px;
}

#intro {
  color: #6C6D6D;
}
.Intro{
	width: 100%;
	display: inline-block;
	margin: -10px;
}
.name {
  top: -80px;
  text-align: center;
  font-size: 200%;
  font-weight: 900;
  background-color: #6C6D6D;
  color: #fff;
}

.profilepic {
  transition-duration: 0.2s;
  opacity: 0;
  top: 250px;
  width: 300px;
  height: 300px;
  background-image: url("https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/12032996_1182508888429823_2687867117430601467_n.jpg?oh=5a0dbcf8e7d42af1b85e41e4f220d62c&oe=5960C935");
  background-size: cover;
  border: solid 0px;
  left: 15%;
}

.intro {
  bottom: -260px;
  font-size: 125%;
  background-color: #6C6D6D;
  color: #fff;
  padding-left: 7px;
  width: 290px;

}

.experience {
  transition-duration: 0.2s;
  width: 700px;
  left: 47%;
  height: 600px;
  opacity: 0;
  font-size: 150%;

}

.experience > h2 {
  font-weight: 900;
}

#skill1 {
  position: relative;
  text-align: left;
  width: 280px;
  height: 280px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  font-size: 120%;
}

#skill1 > li {
  text-align: left;
  list-style: url(http://i.imgur.com/yFi6HDs.png);
}

#skill {
  background-color: #6C6D6D;
  color: #fff;
  text-align: center;
}

.b {
  opacity: 0;
  transition-duration: 0.2s;
  top:50px;
  font-size: 400%;
}

hr {
  border-top: 2px solid #fff;
  width: 200px;
}

.skill {
  top: 30px;
  opacity: 0;
  transition-duration: 0.2s;
}

#works {
  text-align: center;
  color: #666666;
  height: 900px;
}

.films {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  transition-duration: 0.2s;
 
}

.films > a
{
	color: #666666;
	font-size: 20px;
}

.films > h3
{
	left: -30%;
	font-size: 100%;
}
.b2 {
  opacity: 0;
  transition-duration: 0.2s;
  top: 50px;
}

.sintro {
  position: absolute;
  font-weight: 900;
  font-size: 250px;
  transition-duration: 0.2s;
  color: #666666;
  width: 437px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.sintro2 {
  position: absolute;
  font-weight: 900;
  font-size: 250px;
  transition-duration: 0.2s;
  color: white;
  width: 437px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.sintro3 {
  position: absolute;
  font-weight: 900;
  font-size: 150px;
  transition-duration: 0.2s;
  width: 800px;
  color: #666666;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.b2{
	font-size: 400%;
}


.b2 > hr {
  
  border-top: 3px solid #666666;
  width: 200px;
}

.animate {
  opacity: 100;
}

.animate2 {
  opacity: 0;
}

.animate3{
	left: 10%;
}
.animate4{
  position: relative;
  left: 10%;
  top: 10px;
}

@media screen and (max-width: 1257px)
{
	.index{
		display: initial;
	}
	#bar{
		display: none;
	}
	.profilepic
	{
		left: 35%;
		width: 400px;
		height: 400px; 
	}
	
	.intro 
	{
	  bottom: -80%;
	  width: 390px;
      font-size: 170%;
	}
	
	.name {
	  top: -120px;
      font-size: 350%;
	}
	
	.Intro
	{
	height: 1800px;
	
    }
	
	.experience 
	{
	  font-size: 150%;
	  top: 700px;	  
      width: 600px;
	  left: 15%;
	}
	
	.title 
	{
      top: 10%;
    }
	
	.links 
	{
      top: 15%;
      height: 50px;
    }
	
	.sintro 
	{
	  position: absolute;
	  font-weight: 900;
	  font-size: 300px;
	  top: 30%;
	  line-height: 300px;
	}
	
    .sintro 
	{
	  left: 50%;
	  top: 25%;
	}
	#banner 
	{
	  background-position: center;

	}
}

@media screen and (max-width: 900px)
{
	.index{
		opacity: 1;
	}
	.bar{
		opacity: 0;
	}
	#banner 
	{
	  background-position: center;

	}
	.profilepic
	{
		left: 25%;
		width: 400px;
		height: 400px; 
		margin: 0;
	}
	
	.intro 
	{
	  bottom: -80%;
	  font-size: 150%;
	  width: 390px;

	}
	
	.name {
	  top: -120px;

	}
	
	.Intro
	{
	height: 1800px;
    }
	
	.experience 
	{
	  font-size: 125%;
	  top: 700px;	  
      width: 550px;
	  left: 10%;
	}
	
	.title 
	{
      top: 10%;
    }
	
	.links 
	{
      top: 10%;
      height: 50px;
    }
	
	.sintro 
	{
	  position: absolute;
	  font-weight: 900;
	  font-size: 300px;
	  top: 30%;
	  line-height: 300px;
	}
	

}